/* TechnicianRegister.css */
.register-container {
    background-image: url('../public/tb_backround.webp');
    background-size: cover;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  input, select, textarea {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  